# Para gerar uma SECRET_KEY segura, execute o seguinte comando Python:
# python -c "import secrets; print(secrets.token_urlsafe(50))"
SECRET_KEY=sua_chave_secreta_super_segura_aqui
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=vaievolta
ALLOWED_ORIGINS=http://localhost