# Este é um arquivo .env de exemplo para o sistema inteiro.
# Se você estiver executando este projeto com Docker, crie um arquivo .env na raiz do projeto
# e use este arquivo para configurar as variáveis de ambiente necessárias.

SECRET_KEY=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
ALLOWED_ORIGINS=