# Este é um arquivo .env de exemplo para o backend.
# Se você estiver executando este projeto com Docker, ignore este arquivo e use o arquivo .env na raiz do projeto.

DATABASE_URL=
SECRET_KEY=
ALLOWED_ORIGINS=