# Este é um arquivo .env de exemplo para o backend.
# Se você estiver executando este projeto com Docker, ignore este arquivo e use o arquivo .env na raiz do projeto.

DATABASE_URL=postgresql://postgres:postgres@db:5432/vaievolta
SECRET_KEY=sua_chave_secreta_super_segura_aqui
ALLOWED_ORIGINS=http://localhost:5173